@import 'variables';

@import 'navbar';


.hero-img{
    display: flex;
    justify-content: center;

    img{
        width: 100%;
    }

}

//form
.icon-input{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background: #fff;
    border-right: transparent;
}

.input{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-left: transparent;
    }

.btn-search{
    background: $blue;
    color:#fff;
    font-weight: 600;
    width: 13rem;
    border-radius: 1rem;
}
