
.nav-link{
    color:#000 !important;
}

.sign-in{
    color: #AADDF9 !important;
    font-weight: 600;
}


.sign-up{
    color:$blue !important;
    font-weight: 600;
}

.nav-btn{

    background: $blue;
    border-radius: 1rem;
    color:#fff !important;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items:center;
}

