
.nav-link{
    color:#000 !important;
}

.sign-in{
    color: #AADDF9 !important;
    font-weight: 600;
}


.sign-up{
    color:$blue !important;
    font-weight: 600;
}

.nav-btn{

    background: $blue;

    a{
        color:#fff !important;
    }
}

